.customTitle {
  font-size: 24px;
  color: #ed51a3;
  font-family: 'Panton';
  // line-height: calc(5px + 20vh);
  // text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
}

// .customBody {
//     padding: 2vw;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background: #222;
//     background-image: repeating-linear-gradient(
//         to bottom,
//         transparent 7px,
//         rgba(0, 0, 0, 0.8) 9px,
//         rgba(0, 0, 0, 0.8) 13px,
//         transparent 13px
//     );
// }
