@font-face {
  font-family: roboto-regular;
  src: url('../fonts/ARCADE_I.TTF');
}

@use './_mixins.scss' as standardMixins;

.guildsDashboard {
  .MuiTab-wrapper {
    @include spacedText;
  }

  margin-top: 20px;
  padding: 40px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  &.mobile {
    padding: 5px;
    width: 100%;

    .guildsList {
      @include standardButton;

      .heading {
        text-align: left;
        font-size: 23px;
        font-family: 'Poppins';
        margin-top: 25px;
        margin-bottom: 8px;
      }

      .guildList {
        padding: 20px;
        max-height: none;
        overflow-y: hidden;

        .guildItem {
          .guildInfoWrapper {
            .guildName {
            }

            .guildAction {
            }

            .guildInfoSection {
              .infoIconWrapper {
              }
              .infoValueWrapper {
                .infoTitle {
                }
                .infoValue {
                  font-size: 14px;
                  font-weight: 200;
                }
              }
            }
          }
        }
      }

      .rdt_Table {
        background-color: transparent;

        .rdt_TableHead {
          .rdt_TableHeadRow {
            .rdt_TableCol {
              .rdt_TableCol_Sortable {
                div {
                  @include spacedText;
                  font-weight: 200;
                  font-size: 10px;
                }
              }
            }
          }
        }

        .rdt_TableBody {
          .rdt_TableRow {
            .rdt_TableCell {
              @include spacedText;
              font-weight: 200;
              font-size: 10px;
              div {
                @include spacedText;
                font-weight: 200;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .rdt_Pagination {
    background-color: transparent;
    color: white;
    font-size: 16px;
    margin-top: 30px;

    span,
    select {
      @include spacedText;
    }
    button {
      background-color: transparent;
      box-shadow: none;
      color: white;
      padding: 0px;
      margin-right: 3px;

      svg {
        fill: white;
      }
    }
  }

  .rdt_Table {
    background-color: transparent;

    div {
      background-color: transparent;
    }

    .noContracts {
      font-size: 16px;
      font-family: 'Poppins';
      background-color: transparent;
      color: white;
      font-weight: 300;
    }

    .rdt_TableHead {
      .rdt_TableHeadRow {
        background-color: transparent;
        color: white;
        .rdt_TableCol {
          .rdt_TableCol_Sortable {
            div {
              @include spacedText;
            }
          }
        }
      }
    }

    .rdt_TableBody {
      .rdt_TableRow {
        background-color: transparent;
        color: white;
        font-size: 15px;

        .rdt_TableCell {
          @include spacedText;
          i {
            margin-right: 5px;
            font-size: 22px;
          }

          div {
            @include spacedText;
          }
        }
      }
    }
  }

  .heading {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', Aldrich;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
  }

  .option {
    padding: 10px;
    text-align: center;

    .optionButton {
    }
  }

  .guildsList {
    @include standardButton;

    .heading {
      text-align: left;
      font-size: 23px;
      font-family: 'Poppins';
      margin-top: 25px;
      margin-bottom: 8px;
    }

    .guildList {
      padding: 20px;
      max-height: 1000px;
      overflow-y: auto;

      .guildItem {
        border: 1px solid;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 8px;

        img {
          max-height: 150px;
        }

        .guildInfoWrapper {
          padding-left: 10px;
          .guildName {
            font-size: 30px;
            font-family: 'Poppins';
            font-weight: 600;
          }

          .guildAction {
            text-align: right;
            padding: 10px;
          }

          .guildInfoSection {
            padding: 5px;
            padding-top: 10px;

            .infoIconWrapper {
              font-size: 30px;
              margin: auto;
              margin-top: 12px;
            }
            .infoValueWrapper {
              .infoTitle {
                font-size: 12px;
                font-family: 'Poppins';
              }
              .infoValue {
                font-family: 'Poppins';
                text-align: left;
                padding-left: 20px;
                font-size: 20px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .tavern {
    @include standardButton;
    width: 80%;
    margin: auto;
    padding-top: 30px;

    &.mobile {
      width: 95%;
      padding-top: 15px;

      button {
        font-size: 10px;
      }

      .tavernAction {
        text-align: center;

        button {
          font-size: 10px;
        }
      }

      .rdt_Table {
        background-color: transparent;

        .rdt_TableHead {
          .rdt_TableHeadRow {
            .rdt_TableCol {
              .rdt_TableCol_Sortable {
                div {
                  @include spacedText;
                  font-weight: 200;
                  font-size: 10px;
                }
              }
            }
          }
        }

        .rdt_TableBody {
          .rdt_TableRow {
            .rdt_TableCell {
              @include spacedText;
              font-weight: 200;
              font-size: 10px;
              div {
                @include spacedText;
                font-weight: 200;
                font-size: 10px;
              }
            }
          }
        }
      }
    }

    .tavernAction {
      text-align: center;

      .icon {
        font-size: 20px;
        margin-right: 10px;
      }

      button {
        font-size: 16px;
        &:disabled {
          background-color: grey;
          opacity: 0.4;
          cursor: not-allowed;
          pointer-events: all;

          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }

    .contracts {
      .heading {
        text-align: center;
        margin-bottom: 25px;
        font-size: 23px;
        font-family: 'Poppins';
        margin-top: 25px;
      }

      .contractList,
      .titleRow {
        padding: 20px;

        .contractItem {
          border: 1px solid;
          border-radius: 6px;
          margin-bottom: 3px;
        }
      }
    }
  }
}

.guildModal {
  @include standardButton;

  .body {
    @include spacedText;
  }

  .actions {
    span {
      @include spacedText;
    }
  }

  .nftDetails,
  .offerDetails {
    @include spacedText;

    p,
    div,
    li {
      @include spacedText;
    }
  }

  .offerDetails {
    margin-top: 25px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 25px;
  }

  &.scholOfferModal {
    .body {
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;

      .selected {
        border: 1px solid #46cdd7;
        padding: 7px;
        padding-bottom: 0px;
        border-radius: 5px;
      }

      .nftInfo {
        padding-left: 10px;

        .name {
          @include spacedText;
          font-size: 20px;
          font-weight: 500;
        }
        .scholarSlots {
          @include spacedText;
          font-weight: 300;

          .icon {
            margin-right: 5px;
            padding-top: 5px;
          }
        }
      }

      .nftAction {
        text-align: center;
        padding-top: 10px;
        @include spacedText;
      }
    }
  }

  &.mobile {
    font-size: 10px;

    button {
      font-size: 10px;
    }
  }
}

//#3f51b5
