.wanna {
  font-family: 'arcade-interlaced';
  text-align: center;
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}

.m-wanna {
  font-family: 'arcade-interlaced';
  text-align: center;
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}

.m-wanna-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.telegram-img img {
  width: 150px;
  padding: 110px 0;
}

.discord-img img {
  width: 180px;
  padding: 110px 0;
}
