.swal-modal {
  background: #26316d;
}

.swal-title {
  color: white;
}

.swal-text {
  color: white;
  text-align: center;
}

.swal-footer {
  text-align: center;
}

.swal-button {
  background: #387c99;
}
